.pie-chart-container {
  position: relative;
  margin: auto;
  // height: 21em;
  // width: 40em;
  // border: 2px dotted green;
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .pie-chart-container {
    position: relative;
    margin: auto;
    // height: 22em;
    // width: 22em;
    // max-width: 22em;
    // border: 2px dotted black;
  }
}
