.red-text {
  color: red;
}
.year-select {
  width: 60px;
  height: 20px;
  text-align-last:center;
}
.year-select-label{
  display: inline-block;
  font-size: 18px;
  margin: 10px;

}
.select-div {
  float: right;
}
