<kpi-filters
  [widgetInstance]="widget_instance"
  [globalFilters]="global_filters"
  [url]="url"
  (filtersChange)="updateFiltersSelection($event)"
  (search)="searchByFilters($event)"
></kpi-filters>
<bar-chart [data]="currentData" [name]="name" [options]="currentOptions"></bar-chart>
<div>
  <span *ngIf="tot > 0"> Ordini totali {{anno}}: {{tot}} </span>
  <span class="label green" *ngIf="conformi > 0"> di cui conformi: {{conformi}} </span>
  <span class="label red" *ngIf="non_conformi > 0"> NON conformi: {{non_conformi}} </span>
</div>
