.red-text {
  color: red;
  font-size: 1em;
}

.right {
  float: right;
  margin-right: 5em;
}

section.legenda {
  display: flow-root;
  color: black;
  font: 400 14px / 20px Roboto, 'Helvetica Neue', sans-serif;
  letter-spacing: normal;
}
