.line-chart-container {
  position: relative;
  margin: auto;
  // border: 2px dotted green;
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .line-chart-container {
    position: relative;
    margin: auto;
    height: 45vh;
    width: 80vw;
    max-width: 80vw;
    // border: 2px dotted black;
  }
}
