.report-list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;

    li {
      background: url(../../../assets/report2.png) no-repeat left top;
      min-height: 40px;
      margin: 15px 0 15px 10px;
      width: 36%;
      float: left;
      line-height: 18px;
      padding: 0 0 0 1em;

      a:hover {
        color: #222;
        border-bottom: 2px solid #ff6100;
      }
    }
  }
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: #666;
  margin: 0;
  padding: 0;
}
