mat-card {
  max-width: 500px;
  margin: 5em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.login-logo {
  max-width: 95%;
}

h2 {
  color: #3e3e3e;
}

.login-btn {
  border: 1px solid #ccc;
  color: #555;
  border-radius: 5px;
  cursor: pointer;
  width: 130px;
  height: 33px;
  font-size: 15px;
  font-weight: bold;
}

.pwd-forgotten {
  font: 14px/17px Arial, Helvetica, sans-serif;
  display: block;
  position: relative;
  top: -16px;
  left: 57%;
  width: 207px;
  color: #eb621e;
  background: none !important;
  border: none;
}
