.red-text {
  color: red;
  font-size: 1em;
}

.mat-header-cell,
.mat-mdc-header-cell,
.mat-cell,
.mat-mdc-cell {
  justify-content: center !important;
}

.column-width {
  width: 25em;
}

.mat-form-field,
.mat-mdc-form-field {
  text-align: center;
}

th.mat-header-cell,
th.mat-mdc-header-cell {
  border-bottom-style: none;
}

td.mat-cell,
td.mat-mdc-cell {
  border-bottom-style: none;
}
