<table-filters [tableName]="tableName" (tableSearch)="searchByTableFilters($event)"></table-filters>
<br />
<h2 class="black-text">
  Per le caselle evidenziate di <span class="orange-background">arancione</span> il valore inserito
  è stato forzato manualmente.
</h2>
<h2 *ngIf="forced" class="red">
  Attenzione! Hai modificato i valori della tabella, salvando adesso, le caselle di colore arancione
  verranno identificate come forzature e non verranno più aggiornate automaticamente. <br />
  Se non vuoi che questo accada, oppure se hai modificato per errore, ricarica la pagina senza
  salvare per ripristinare i dati originari. Inserendo il valore 0, invece, verrà ripristinato il
  valore di default e il dato tornerà ad essere sincronizzato se non è più vecchio di 2 mesi.
</h2>
<section class="padding-container legenda">
  <div>
    <h3 class="black-text">
    Numero di dipendenti del reparto Induzione: 
    <input 
    class="kpi-dipendenti" 
    type="text" 
    value="{{ dipendenti.value }}" 
    [ngClass]="dipendenti.dipendentiChangeFlag ? 'orange-background' : ''"
    [(ngModel)]="dipendenti.value"
    (ngModelChange)="dipendentiChange(dipendenti.value)"
    />
    </h3>
    <h3 class="black-text">Mancanza personale = 22 x 8 x {{ dipendenti.value }} - Ore Cartellino</h3>
  </div>
  <div>
    <span>Legenda inserimento: </span>
    <span class="produzione">Produzione</span>
    <span class="manutenzione">Manutenzione</span>
    <span class="perdite">Perdite</span>
    <span class="qualita">Qualità</span>
  </div>
  <button mat-raised-button color="primary" class="right" (click)="onSubmit()">
    SALVA <mat-icon>save</mat-icon>
  </button>
</section>

<div class="table">
  <div class="row-head-month fixed-month">
    <div class="nome-kpi fixed-month">&nbsp;</div>
    <div class="month bold fixed-month" *ngFor="let mese of mesi">{{mese}}</div>
  </div>

  <div class="row-head fixed">
    <div class="nome-kpi fixed"></div>
    <div
      class="impianto {{impianto.classe}} bold fixed"
      [ngClass]="impianto.nome_impianto.length > '10' ? 'small' : ''"
      *ngFor="let impianto of impianti"
    >
      {{impianto.nome_impianto}}
    </div>
  </div>

  <div class="row" *ngFor="let row of kpi_rows; let odd=odd; let even=even ">
    <div
      class="nome-kpi {{row.classe}} bold"
      [ngClass]="{ odd: odd, even: even }"
      matTooltip="{{row.tooltip}}"
      matTooltipClass="tooltip"
    >
      <span> {{row.nome_kpi}} </span>
    </div>
    <div class="kpi-row" [ngClass]="{ odd: odd, even: even }">
      <div [ngSwitch]="row.nome_kpi" class="kpi-row">
        <!--RIGHE CON CAMPI CALCOLATI es. OEE, RGI, Ore produttive-->
        <div *ngSwitchCase="nomiKpiCalcolati.get(row.nome_kpi)" class="kpi-row">
          <!--div disabilitati IND-->
          <div class="kpi-val" *ngFor="let div of divIND">
            <input class="input" type="text" title="{{row.tooltip}}" disabled />
          </div>
          <!--somma IND-->
          <div *ngIf="row.id != 14" class="kpi-val somma not-allowed">
            <input
              [ngClass]="row.format === 'perc' ? 'input-perc bold' : 'input bold'"
              type="text"
              title="{{row.tooltip}}"
              id="sommaIND{{row.id}}"
              [value]="valoriKpiCalcolati.get('sommaIND' + row.id) | percentage:row.format"
              matTooltip="{{row.tooltip}}"
              matTooltipClass="tooltip"
              readonly
            />
          </div>
          <!--somma IND PER ORE ACCESO ECCEZIONE, MODIFICABILE COME TICKET #1397-->
          <!-- ATTENZIONE: hardcordato in base alla risposta del server su posizione e oggetto! -->
          <div
            *ngIf="row.id == 14"
            class="kpi-val somma"
            [ngClass]="row.valori[0].forzatura_manuale ? 'orange-background' : ''"
          >
            <input
              [ngClass]="row.format === 'perc' ? 'input-perc bold' : 'input bold'"
              type="text"
              title="{{row.tooltip}}"
              id="sommaIND{{row.id}}"
              [(ngModel)]="row.valori[0].val"
              (ngModelChange)="inputOreAccesoChanged(row, 'IND', row.valori[0])"
              matTooltip="{{row.tooltip}}"
              matTooltipClass="tooltip"
            />
          </div>
        </div>

        <!--RIGHE CHE IDENTIFICANO KPI + SOMME-->
        <div *ngSwitchDefault class="kpi-row">
          <!-- IND -->
          <div
            class="kpi-val"
            [ngClass]="row.valori[div].forzatura_manuale ? 'orange-background' : ''"
            *ngFor="let div of divIND"
          >
            <input
              class="input"
              type="text"
              title="valore kpi"
              *ngIf="row.valori[div]"
              [(ngModel)]="row.valori[div].valore"
              (ngModelChange)="inputChanged(row, 'IND', row.valori[div])"
            />
          </div>
          <!-- SOMMA ind -->
          <div class="kpi-val somma not-allowed">
            <input
              class="input"
              type="text"
              title="valore kpi"
              [value]="valoriKpiSommaReparti.get('IND' + row.id)"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tabella-induzione">
  <img src="../../../assets/induzione.png" alt="Dettaglio Tabella" />
</div>
<br />
<button mat-raised-button color="primary" class="right" (click)="onSubmit()">
  SALVA <mat-icon>save</mat-icon>
</button>
<br />
<br />
